In [17]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import os
pip3 install seaborn==0.9.0
import seaborn as sns
%matplotlib inline

bike = pd.read_csv('bikeshare.txt')

SyntaxError: invalid syntax (<ipython-input-17-52843a2e7bd8>, line 6)

In [10]:
bike.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [16]:
sns.lineplot(x = 'dteday', y = 'cnt', data = bike)

AttributeError: module 'seaborn' has no attribute 'lineplot'